<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>{{para}}</p>
    <img src="./img/me.png">
    </div>
    <hr class="line_break">
    {{>footer}}
</body>
</html>