<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>help</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>I'm reachable at +91-905-2046524</p>
    </div>
    <hr class="line_break">
    {{>footer}}
</body>
</html>